<html>
  <head>
    <title>A-Frame Monkey_Mingame</title>
    <script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
    <script src="/static/admin/assets/monkey.js"></script>
    <script src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"></script>
  </head>
  <body>
    <script>
      AFRAME.registerComponent("monkeymovement", {
        schema: {
          direction: { type: "string" }
        },

        init: function() {
          console.log("why?");
          var data = this.data; // adds the variable that moves the monkey
          var cords = document.querySelector("#movement");
          var el = this.el; // <a-box>
          el.addEventListener("mousedown", function() {
            document
              .querySelector("a-scene")
              .systems["movelist"].addQueue(data.direction);
   
          });
        }
      });
    </script>

    <script>
       
      
      
      AFRAME.registerComponent("start", {
        init: function() {
          var data = this.data;
          var cords = document.querySelector("#monkey");
          var el = this.el;
          el.addEventListener("mousedown", function() {
            document.querySelector("a-scene").systems["movelist"].run();
           
        });
        }
      });
    </script>
    <script>
      AFRAME.registerComponent("reset", {
        init: function() {
          var data = this.data;
          var cords = document.querySelector("#monkey");
          var el = this.el;
          el.addEventListener("mousedown", function() {
          display= []
            cords.setAttribute("position", { x: 0, y:0, z:0 });
          cords.setAttribute("rotation", { x: 0, y:0, z:0 });
           console.log(display)
        });
        }
      });
    </script>
   
    <a-scene background="color: #FAFAFA" environment="preset: forest" movelist>
      <a-asset-item
        id="monkey-asset"
        src="https://cdn.glitch.com/b3d1894b-450a-411e-a352-9fc7679182d1%2Funtitled.glb?v=1626890755865"
      >
        <a-asset-item
          id="right"
          src="https://cdn.glitch.com/b3d1894b-450a-411e-a352-9fc7679182d1%2Fright.png?v=1627319388769"
        ></a-asset-item>
        <a-asset-item id="left" src=""></a-asset-item>
      </a-asset-item>

        <a-entity
          id="monkey"
          gltf-model="#monkey-asset"
          position="0.00 0.00 0.000"
          rotation="0.000 0.00 0.000"
          scale="1 1 1">
        </a-entity>
      

      <a-plane
        position="-3.071 1.273 1.446"
        height="2"
        width="2"
        src="https://cdn.glitch.com/b3d1894b-450a-411e-a352-9fc7679182d1%2Fright%2Bnext%2Bforward-1320568500632522035.png?v=1626793067174"
        monkeymovement="direction:forward"
      >
      </a-plane>

      <a-plane
        position="-5 1.273 1.446"
        height="2"
        width="2"
        src="https://cdn.glitch.com/b3d1894b-450a-411e-a352-9fc7679182d1%2F19-198377_back-arrow-icon-png-image-free-download-searchpng.png?v=1627492404824"
        monkeymovement="direction:backward"
      >
      </a-plane>

      <a-plane
        position="-7 1.273 1.446"
        height="2"
        width="2"
        src="https://cdn.glitch.com/b3d1894b-450a-411e-a352-9fc7679182d1%2Fleft.png?v=1627484839582"
        monkeymovement="direction:left"
      >
      </a-plane>

      <a-plane
        position="-9 1.273 1.446"
        height="2"
        width="2"
        src="https://cdn.glitch.com/b3d1894b-450a-411e-a352-9fc7679182d1%2FRight_to_Rotate_1200x638.jpeg?v=1627492405209"
        monkeymovement="direction:right"
      >
      </a-plane>
      <a-plane
        position="-11 1.273 1.446"
        height="2"
        width="2"
        src="https://cdn.glitch.com/b3d1894b-450a-411e-a352-9fc7679182d1%2Fstart-5299340_960_720.png?v=1627484839512"
        start
      >
      </a-plane>
 <a-plane
        position="-13 1.273 1.446"
        height="2"
        width="2"
        src="https://cdn.glitch.com/b3d1894b-450a-411e-a352-9fc7679182d1%2Freset-training-logo-with-name-1400x500.png?v=1627484741544"
        
      reset>
      </a-plane>
      <a-camera>
        <a-cursor></a-cursor>
      </a-camera>

      <a-sky color="#ECECEC"></a-sky>
    </a-scene>
  </body>
</html>
